<div class="container">
  <div *ngIf="isLoading; else elseBlock">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-template #elseBlock>
    <mat-card>
      <mat-card-title>User info:</mat-card-title>
      <mat-list role="list">
        <mat-list-item role="listitem"
          >First name: {{ firstName }}</mat-list-item
        >
        <mat-list-item role="listitem">Last name: {{ lastName }}</mat-list-item>
        <mat-list-item role="listitem">Email: {{ email }}</mat-list-item>
      </mat-list>
    </mat-card>
  </ng-template>
</div>
